# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference

[*.{cpp,h,hlsl,hlsli}]
indent_size = 4
indent_style = space
trim_trailing_whit_space = true
end_of_line = crlf

[*.{cpp,h}]
charset = utf-8
